<!-- templates/generate_keys.html -->

{% extends "base.html" %}

{% block content %}
<div class="column">
    <h3 class="title">Generate Keys</h3>
    <div class="box">
        {% with messages = get_flashed_messages(category_filter=["post_keys", "generate_keys"]) %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0]}}.
                </div>
            {% endif %}
        {% endwith %}
        {% with messages = get_flashed_messages(category_filter=["keygen_success"]) %}
            {% if messages %}
                <div class="notification is-success">
                    {{ messages[0]}}.
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST" action="/generate_keys">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="number" placeholder="Number of keys e.g. 5" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="number" name="policy" placeholder="Policy number e.g. 1" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="datetime-local" name="time" autofocus="">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Generate and Post</button>
        </form>
    </div>
</div>
{% endblock %}